
  .input-style-1 input[type="text"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
  }
  .input-style-1 input[type="text"]:focus,
  .input-style-1 input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
  }

  .symbol_title {
     font: bold 20px Helvetica, sans-serif;
  }

  .red-cell {
     background: #F00;
  }

  .bold-green-font {
    font-weight: bold;
    color: green;
  }

  .green-background {
    bgcolor:green;
    background-color:green;
  }

  .bold-font {
    font-weight: bold;
  }

  .center-text {
    text-align: center;
  }

  .right-text {
    text-align: right;
  }

  .large-font {
    font-size: 15px;
  }

  .green-border {
    border: 3px solid forestgreen;
  }
